left-nav {
  min-height: 100%;
  min-width: 300px;
  width: 25%;
  height: 100%;
  background-color: #6fb98a;
  color: white;
}
left-nav .item {
  display: block;
  height: 50px;
  width: 200px;
  margin: 5px 20px;
  list-style-type: none;
  font-size: 16px;
  line-height: 50px;
}
left-nav .item a {
  text-decoration: none;
  color: white;
}
left-nav .title {
  margin: 80px 5% 10px 5%;
  height: 100px;
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  line-height: 100px;
  overflow: hidden;
  border-bottom: 1px solid white;
}
