<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>题目列表</title>

        <link href="css/answerList.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
	<header class="head"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div id="userimformation">
                    <div class="uiheader"></div>

                    <div class="uimain">
                        <table id="answerTable">
                            <tr>
                                <th>答题者</th>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript" src="javascripts/answerList.js"></script>
    <script src="/drypot.js" charset="utf-8"></script>
</html>
