<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>个人主页</title>
        <link href="/css/answerDetail.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="dp-component"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div id="userimformation">

                    <div class="uiheader"></div>

                    <div class="dp-dynamic container" dp-name="answer" dp-data="{{ajax(`/answer/${getPathname(2)}/detail`)}}">

                        <div class="question">
                            <div class="header"></div>
                            <div class="title">{{answer.title}}</div>
                            <pre class="description">{{answer.description}}</pre>
                            <div class="line"></div>
                            <div class="answer">{{answer.answer_content}}</div>
                        </div>

                        <div class="score">
                            <div class="total_score" id="total_socre">该题总分 &nbsp; 5</div>

                            <div class="your_score">
                                <span>答题人：&nbsp; </span>
                                <span>{{answer.username}}</span>
                            </div>



                            <!--<form method="post" action="/answerDetail/setScore">
                                <div class="your_score">您的给分 &nbsp;
                                <input type="text" name="score" required="required">
                                </div>

                                <div class="button_container"><button type="submit">提交</button></div>
                                </form>
                            -->

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>

</html>
