<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>个人主页</title>
        <link href="css/answerDetail.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
          <div class="logo">
            <img src="picture/logo.jpg" alt="logo"/>
          </div>

          <div class="user">
              <img src="picture/face.jpg" alt="face"/>
          </div>
        </div>

        <div id="main">

          <div id="left">
            <div class="title">凌睿工作室答题系统</div>
            <ul>
              <li class="item"><a href="">首页</a></li>
              <li class="item"><a href="/questionList">题目列表</a></li>
              <li class="item"><a href="">题目发布</a></li>
              <li class="item"><a href="">个人信息</a></li>
            </ul>
          </div>

          <div id="right">
            <div id="userimformation">

              <div class="uiheader"></div>

              <div class="container">

                <div class="question">
                  <div class="header"></div>
                  <div class="title" id="title">高中数学题</div>
                  <div class="description" id="description">这个题用普通的角度加加减减是算不出来的，因为有两个未知角相互影响。应该是需要一种更高级的解法......我是高中生。</div>
                  <div class="line"></div>
                  <div class="answer" id="answer">嘿呀！我这个思路行得通。∠CBD=∠CDB,所以BC=DC;∠CDA=2∠CAD,所以AC和DC之间也比较好表示了。
                          设CD=100，则BC=100，AC=200cos39°
                          设∠CAB的度数为α，∠ABD为111°-α
                          所以BC/sinα=AC/sin（111°-α+48°）
                          100/sinα=200cos39°/sin（21°+α）
                          sinα=sin21°cosα+sinαcos21°/2sin(21°+30°)
                          2sin(21°+30°)-cos21°=sin21°cotα
                          √3sin21°=sin21°cotα
                          tanα=1/√3
                          所以α=30°
                          ∠BAC=30°,∠ABD=81°
                   </div>
                </div>

                <div class="score">
                  <div class="total_score" id="total_socre">该题总分 &nbsp; 5</div>

                  <form action="we" id="answer_form">
                    <div class="your_score">您的给分 &nbsp;
                      <input type="text" name="socre">
                    </div>
                    <div class="button_container"><button type="submit">提交</button></div>
                  </form>

                  <div class="your_score" id="get_socre">您的得分 &nbsp;  2</div>
                </div>

             </div>

          </div>
         </div>

        </div>
    </body>
    <script src='javascripts/answerDetail.js' type='text/javascript'></script>
</html>
