<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>题目列表</title>
        <link href="/css/answerList.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <header class="dp-component"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div id="userimformation">
                    <div class="uiheader"></div>

                    <div class="uimain">
                        <table>
                            <tr>
                                <th>答题者</th>
                            </tr>
                        </table>
                        <table class="dp-for" dp-data="{{ajax(`/answer/list/${getPathname(2)}/`)}}">
                            <tr>
                                <td>
                                    <a href="/answerDetail/{{item.ID}}">{{item.username}}</a>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>

</html>
