<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>个人主页</title>
        <link href="/css/answerPage.css" rel="stylesheet" type="text/css" />

    </head>
    <body> 
        <header class="dp-component"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div class="dp-dynamic" id="userimformation">
                    <div class="uiheader"></div>
                    <div class="uimain">
                        <div id="description" class="questioncontent"></div>

                        <form action="/answer/{{getPathname(2)}}/publish" method="post">
                            <textarea name="answer" class="replyzone"></textarea>

                            <div class="uifooter">
                                <button type="submit" class="submit" name="submit" value="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>

</html>
