<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>个人主页</title>
    <link href="choicequestion.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="reply.js"></script>
</head>
<body>
	<div id="header">
	  <div class="logo">
	    <img src="picture/logo.jpg" alt="logo"/>
	  </div>

	  <div class="user">
	      <img src="picture/face.jpg" alt="face"/>
	  </div>
	</div>

	<div id="main">

	  <div id="left">
	    <div class="title">凌睿工作室答题系统</div>
	    <ul>
	      <li class="item"><a href="">首页</a></li>
	      <li class="item"><a href="/questionList">题目列表</a></li>
	      <li class="item"><a href="/publishPage">题目发布</a></li>
	      <li class="item"><a href="">个人信息</a></li>
	    </ul>
	  </div>

	  <div id="right">
	    <div id="userimformation">
	      <div class="uiheader"></div>
	      <div class="uimain">
	      	<div class="questionnumber">第1题</div>
	      	<div class="questioncontent">计算机网络系统集成包括的主要层面是什么？</div>
		    <div class="replyzone">
		    	<div class="zoneleft">
		    		<ul>
		    			<li class="img"><img src="" alt="A"></li>
		    			<li class="img"><img src="" alt="B"></li>
		    			<li class="img"><img src="" alt="C"></li>
		    			<li class="img"><img src="" alt="D"></li>
		    		</ul>
		    	</div>
		    	<div class="zoneright">
			      <ul>
			        <li class="lili">技术集成</li>
			        <li class="lili">软硬件产品集成</li>
			        <li class="lili">应用集成</li>
			        <li class="lili">以上都是</li>
			      </ul>
			    </div>
		    </div>
	        <div class="uifooter">
	          <button type="submit" class="submit" name="submit">提交</button>
	      	  <div class="next"><a href="">下一题</a></div>
	        </div>
	      </div>
	  </div>
	 </div>

	</div>
</body>
</html>
