<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>个人主页</title>
        <link href="/css/homePage.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="dp-component"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div id="userimformation">
                    <div class="uiheader"></div>

                    <div class="uimain">

                        <div class="uileft">
                            <div class="face">
                                <img src="/picture/face.jpg" alt="face"/>
                            </div>
                            <div class="username dp-dynamic">{{ajax(`/user/${getPathname(2)}/name`)}}</div>
                        </div>

                        <div class="uiright"></div><!--这里是一个空的div框框-->
                    </div>

                </div>
            </div>

        </div>
    </body>
    <script src="/drypot.min.js" charset="utf-8"></script>
</html>
