<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>个人信息</title>
<link href="perImf-reply-出题者.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="header">
    <div id="logo">
      <img src="logo.jpg" alt="logo"/>
    </div>
    <div id="user">
      <img src="logo.jpg" alt="face"/>
    </div>
  </div>

  <div id="main">

    <div id="left">
      <div id="leftheader">凌睿工作室答题系统</div>
      <ul>
        <li class="lili"><a href="" style="text-decoration:none;color:white">首页</a></li>
        <li class="lili"><a href="" style="text-decoration:none;color:white">题目列表</a></li>
        <li class="lili"><a href="" style="text-decoration:none;color:white">题目发布</a></li>
        <li class="lili"><a href="" style="text-decoration:none;color:white">个人信息</a></li>
      </ul>
    </div>

    <div id="right">
      <div id="replyimformation">
        <div id="uiheader"></div>

        <div id="uimain">
          <div id="replyzone">
            <div id="zonecontent1">
                <div id="zoneheader">第1题</div>
                <div id="title">计算机网络系统集成包括的主要层面是什么？
                </div>
                <ul>
                  <li class="zoneli">技术集成</li>
                  <li class="zoneli">软硬件产品集成</li>
                  <li class="zoneli">应用集成</li>
                  <li class="zoneli">以上都是</li>
                </ul>
            </div>

            <div id="zonecontent2">
                <div id="grade1">该题总分</div>
                <div id="grade2">5</div>

                <div id="clear"></div>

                <div id="grade3">该题得分</div>

            <div id="zonecontent3">
                <div id="next"><a href="" style="text-decoration:none;color:white">下一题</a></div>
            </div>

                <div id="grade4">
                  <form name="form" method="post" action="" onsubmit="">
                    <input type="text" required="required" name="grade"></input>
                    <button type="submit" id="submit" name="submit" value="submit">提交给分</button>
                  </form>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>