<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>个人主页</title>
        <link href="css/personalHomePage.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="perImf.js"></script>
    </head>
    <body>
        <div id="header">
          <div class="logo">
            <img src="picture/logo.jpg" alt="logo"/>
          </div>

          <div class="user">
              <img src="picture/face.jpg" alt="face"/>
          </div>
        </div>

        <div id="main">

          <div id="left">
            <div class="title">凌睿工作室答题系统</div>
            <ul>
              <li class="item"><a href="">首页</a></li>
              <li class="item"><a href="">题目列表</a></li>
              <li class="item"><a href="">题目发布</a></li>
              <li class="item"><a href="">个人信息</a></li>
            </ul>
          </div>

          <div id="right">
            <div id="userimformation">
              <div class="uiheader"></div>

              <div class="uimain">

                <div class="uileft">
                  <div class="face">
                    <img src="picture/face.jpg" alt="face"/>
                  </div>
                  <div class="username">用户名</div>
                </div>

                <div class="uiright">sadf</div><!--这里是一个空的div框框-->
              </div>

          </div>
         </div>

        </div>
    </body>
</html>
