<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>请先登录</title>

    <link rel="stylesheet" type="text/css" href="css/pleaseSignInFirst.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
    <div id="content">
        <div class="greydiv_group">
            <div class="greydiv"></div>
            <div class="greydiv"></div>
        </div>
        <div class="please">请先登录</div>
        <div class="click"><a href="/signPage">点此登录</a></div>
    </div>
</body>
</html>
