<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>个人主页</title>
        <link href="css/publishPage.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="dp-component"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div id="userimformation">
                    <div class="uiheader"></div>
                    <div class="uimain">

                        <form action="/item/publish" method="post">
                            <span>商品名称：</span><input class="title" name="title">
                            <div>
                                <span>描述：</span>
                                <textarea class="description" name="description"></textarea>
                            </div>

                            <div class="uifooter">
                                <button type="submit" class="submit" value="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </body>
    <script src="/drypot.min.js" charset="utf-8"></script>
</html>
