<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>题目详情</title>
    <link href="/css/questionDetail.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="dp-component"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right" class="dp-item question" dp-name="question" dp-data="{{ajax(`/question/${getPathname(2)}/detail`)}}">
                <div class="information">
                    <div class="uiheader"></div>
                    <div class="container">

                        <div class="question">
                            <div class="header"></div>
                            <div class="title">{{question.title}}</div>
                            <pre class="description">{{question.description}}</pre>
                            <div class="line"></div>
                            <div class="answer">{{question.answer}}</div>
                        </div>

                        <div class="message">
                            <span>该题总分: </span><span>{{question.total_score}}</span><br><br>
                            <span>你的得分: </span><span>{{question.score}}</span><br><br>

                            <span>出题人：&nbsp; </span><span>{{question.author_name}}</span>

                            <div class="button_group">
                                <a id="viewAnswer" href="/answer/list/{{getPathname(2)}}">查看回答</a>
                                <a id="answer" href="/answerPage/{{getPathname(2)}}">回答题目</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>
</html>
