<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>题目列表</title>

        <link href="css/questionList.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
          <div class="logo">
            <img src="picture/logo.jpg" alt="logo"/>
          </div>

          <div class="user">
              <img src="picture/face.jpg" alt="face"/>
          </div>
        </div>

        <div id="main">

          <div id="left">
            <div class="title">凌睿工作室答题系统</div>
            <ul>
              <li class="item"><a href="/personalHomePage">首页</a></li>
              <li class="item"><a href="/questionList">题目列表</a></li>
              <li class="item"><a href="/publishPage">题目发布</a></li>
            </ul>
          </div>

          <div id="right">
            <div id="userimformation">
              <div class="uiheader"></div>

              <div class="uimain">
                <table id="questionTable">
                  <tr>
                    <th>题目名称</th>
                  </tr>
                </table>
              </div>

            </div>
         </div>

        </div>
    </body>

    <script type="text/javascript" src="javascripts/questionList.js"></script>
</html>
