<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>题目列表</title>

        <link href="css/questionList.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="dp-component"></header>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div id="userimformation">
                    <div class="uiheader"></div>

                    <div class="uimain">
                        <table id="questionTable">
                            <tr>
                                <th>题目名称</th>
                            </tr>
                        </table>
                        <table  class="dp-for" dp-name="render" dp-data="{{ajax(`/question/list`)}}" id="questionTable">
                            <tr>
                                <td><a href="/questionDetail/{{item.ID}}">{{item.title}}</a></td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </body>

    <script src="/drypot.min.js" charset="utf-8"></script>
</html>
