<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>题目列表</title>

        <link href="css/questionList.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <div class="logo">
                <img src="picture/logo.jpg" alt="logo"/>
            </div>

            <div class="user">
                <a href="/logout"><img src="picture/exit.png" alt="face"/></a>
            </div>
        </div>

        <div id="main">

            <left-nav class="dp-component"></left-nav>

            <div id="right">
                <div id="userimformation">
                    <div class="uiheader"></div>

                    <div class="uimain">
                        <table id="questionTable">
                            <tr>
                                <th>题目名称</th>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript" src="javascripts/questionList.js"></script>
    <script src="/drypot.js" charset="utf-8"></script>
</html>
