<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>题目详情</title>
        <link href="css/questionDetail.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <div class="logo">
                <img src="picture/logo.jpg" alt="logo"/>
            </div>

            <div class="user">
                <img src="picture/face.jpg" alt="face"/>
            </div>
        </div>

        <div id="main">

            <div id="left">
                <div class="title">凌睿工作室答题系统</div>
                <ul>
                    <li class="item"><a href="/personalHomePage">首页</a></li>
                    <li class="item"><a href="/questionList">题目列表</a></li>
                    <li class="item"><a href="/publishPage">题目发布</a></li>
                </ul>
            </div>

            <div id="right">
                <div class="information">
                    <div class="uiheader"></div>
                    <div  class="container">

                        <div class="question">
                            <div class="header"></div>
                            <div class="title" id="title"></div>
                            <pre class="description" id="description"></pre>
                            <div class="line"></div>
                            <div class="answer" id="answer"></div>
                        </div>

                        <div class="message">
                            <span>该题总分: </span><span id="total_score">5</span><br><br>
                            <span>你的得分: </span><span id="your_score">5</span><br><br>

                            <span>出题人：&nbsp; </span><span id="publish_man"></span>

                            <div class="button_group">
                                <a id="viewAnswer" href="/answerList">查看回答</a>
                                <a id="answer" href="/answerPage">回答题目</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript" src="javascripts/questionDetail.js"></script>
</html>
