<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>题目详情</title>
        <link href="css/questionDetail.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
          <div class="logo">
            <img src="picture/logo.jpg" alt="logo"/>
          </div>

          <div class="user">
              <img src="picture/face.jpg" alt="face"/>
          </div>
        </div>

        <div id="main">

          <div id="left">
            <div class="title">凌睿工作室答题系统</div>
            <ul>
              <li class="item"><a href="">首页</a></li>
              <li class="item"><a href="">题目列表</a></li>
              <li class="item"><a href="">题目发布</a></li>
              <li class="item"><a href="">个人信息</a></li>
            </ul>
          </div>

          <div id="right">
            <div class="information">
              <div class="uiheader"></div>
              <div id="question" class="question">什么是语义化的HTML?直观的认识标签 对于搜索引擎的抓取有好处，用正确的标签做正确的事情！<br>
html语义化就是让页面的内容结构化，便于对浏览器、搜索引擎解析；<br>
在没有样式CCS情况下也以一种文档格式显示，并且是容易阅读的。搜索引擎的爬虫依赖于标记来确定上下文和各个关键字的权重，利于 SEO。<br>
使阅读源代码的人对网站更容易将网站分块，便于阅读维护理解。</div>
              <div class="message">
                <span>该题总分: </span><span id="total_score">5</span><br><br>
                <span>你的得分: </span><span id="your_score">5</span>
                <div class="button_group">
                  <a id="view" href="/answerList">查看回答</a>
                  <a id="answer" href="/answerPage">回答题目</a>
                </div>
              </div>
           </div>
         </div>

        </div>
    </body>
    <script type="text/javascript" src="javascripts/questionDetail.js"></script>
</html>
