<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Demo</title>

<link rel="stylesheet" type="text/css" href="C:/Users/GRANT/Desktop/龚/第三弹/SignInbefore.css">
<script src="C:/Users/GRANT/Desktop/Javascript Demo.js"></script>

</head>

<body>
	<div id="content">
		<div id="greydiv1"></div>
		<div id="greydiv2"></div>
		<div style="clear:both"></div>
		<div id="please">请先登陆</div>
		<div id="click"><a href="" style="text-decoration: none;color: rgb(157,207,175);">点此登陆</a></div>
	</div>
</body>
</html>
