body{
  margin:0;
  padding:0;
  background-color:white;
  width:auto;
  font-family:微软雅黑;
  text-align: center;/*页面所有文本居中*/
}
#header{
  height:85px;
  box-shadow:0 0.5px 3px gray;
  /*box-shadow：length length length color向框添加一个或多个阴影
    第一个length 指阴影离开文字的横方向距离
    第一个length 指阴影离开文字的纵方向距离
    第一个length 指阴影的模糊半径
    color即阴影的颜色
  */
  color:white;
}
#logo{
  margin: 0,500px;
  padding-left: 100px;
  float:left;
  overflow: hidden;
}
#user{
  width: 180px;
  float:right;
  position: relative;
}
#main{
  display: flex;
  /*弹性布局
    对于right-div和left-div要增加一个clearboth-div清除浮动才能不影响下面的其他布局

    当left-div right-div的宽度固定，浏览器宽度变窄，right-div会被挤到下面，用flex则可以解决这个问题
  */
  float:left;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#left{
  width: 25%;
  height: 100%;
  background-color: #6fb98a;
  color: white;
}
#leftheader{
  margin: 80px 50px 10px 30px;
  height:100px;
  width: 250px;
  overflow: hidden;
  /*因为div大小设置成百分比，缩小时其内部文本却保持不变，则很有可能发生溢出，设置scroll或者hidden*/
  border-bottom: 1px solid white;
  font-size: 25px;
  font-weight: bold;
  line-height: 100px;
  /*line-height是行高，height是高
    通常height用于某个框架或者图片，line-height用于文字
    在多行文字中类似于行间距
    一般line-height的值设为父元素的div大小
  */
}
.lili{
  display: block;/*li成块可以设置*/
  height: 50px;
  width: 200px;
  margin: 5px 20px;
  list-style-type: none;
  font-size: 16px;
  line-height: 50px;
}
#right{
  padding: 40px 40px;
  width: 75%;
  height: 100%;
}
#replyimformation{
  width: 1100px;
  height: 80%;
  box-shadow:-0.5px -0.5px 10px gray;
  overflow: hidden;
}
#uiheader{
  background-color: #6fb98a;
  width: auto;
  height: 20px;
}
#uimain{
  width: auto;
  height: 88%;
  overflow: hidden;
  padding: 20px;
}
#replyzone{
  width: 88%;
  height: 100%;
  box-shadow: -0.5px -0.5px 2px gray;
  overflow: hidden;
}
#zonecontent1{
  box-shadow: -0.5px -0.5px 2px gray;
}
#zoneheader{
  width: auto;
  height: 80px;
  text-align: left;
  color: 6fb98a;
  font-size: 20px;
  line-height: 80px;
}

#title{
  width: auto;
  height: 60px;
  text-align: left;
  font-size: 20px;
  line-height: 60px;
}
.zoneli{
  display: block;/*li成块可以设置*/
  height: 50px;
  width: 200px;
  margin: 5px 20px;
  text-align: left;
  font-size: 16px;
  line-height: 50px;
}
#grade1{
  height: 40px;
  width: 200px;
  margin: 5px 0px;
  font-size: 16px;
  line-height: 40px;
  float: left;
}
#grade2{
  height: 40px;
  width: 30px;
  margin: 5px 0px;
  margin-left: 10px;
  float: left;
  line-height: 40px;
  font-size: 16px;
}
#clear{
  clear: both;
}
#grade3{
  height: 40px;
  width: 200px;
  margin: 5px 0px;
  font-size: 16px;
  line-height: 40px;
  float: left;
}
#grade4 input{
  width: 30px;
  height: 16px;
  margin: 17px  0px;
  margin-left: 10px;
  border: 1px solid gray;
  padding: 4px;
  font-size: 10px;
  float: left;
}
#next{
  margin: 0px 10px;
  width: 100px;
  height: 50px;
  background-color: #6fb98a;
  float: right;
  font-size: 20px;
  color: white;
  line-height: 50px;
}
#submit{
  width:100px;
  height: 50px;
  background-color: #eeeeee;
  float: right;
  font-size: 20px;
  line-height: 50px;
}