* {
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: white;
  font-family: 微软雅黑;
  text-align: center;
  height: 100%;
}
#header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  box-shadow: 0 0.5px 3px grey;
}
#header .logo {
  height: 85px;
  margin-left: 10%;
}
#header .user {
  height: 85px;
  margin-left: 50%;
}
#main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#left {
  min-width: 300px;
  width: 25%;
  height: 100%;
  background-color: #6fb98a;
  color: white;
}
#left .item {
  display: block;
  height: 50px;
  width: 200px;
  margin: 5px 20px;
  list-style-type: none;
  font-size: 16px;
  line-height: 50px;
}
#left .item a {
  text-decoration: none;
  color: white;
}
#left .title {
  margin: 80px 5% 10px 5%;
  height: 100px;
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  line-height: 100px;
  overflow: hidden;
  border-bottom: 1px solid white;
}
#right {
  min-width: 600px;
  width: 74%;
}
#userimformation {
  margin: 4%;
  width: 90%;
  box-shadow: 0 0.5px 10px grey;
  overflow: hidden;
}
#userimformation .uiheader {
  background-color: #6fb98a;
  width: auto;
  height: 20px;
}
#userimformation .uimain {
  min-height: 600px;
  margin: 0 3%;
  width: 94%;
}
#userimformation .uimain form {
  text-align: left;
}
#userimformation .uimain span {
  font-size: 20px;
}
#userimformation .uimain .title {
  margin: 40px 10px 20px 0;
  line-height: 40px;
  width: 40%;
  font-size: 20px;
}
#userimformation .uimain .description {
  resize: none;
  width: 100%;
  height: 390px;
  margin-top: 20px;
  font-size: 20px;
  text-indent: 40px;
}
#userimformation .uimain .uifooter {
  height: 60px;
  text-align: right;
}
#userimformation .uimain .uifooter .submit {
  margin: 10px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #6fb98a;
  font-size: 20px;
  border: none;
  color: white;
}
