* {
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: white;
  font-family: 微软雅黑;
  height: 100%;
}
a {
  text-decoration: none;
}
#header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  box-shadow: 0 0.5px 3px grey;
}
#header .logo {
  height: 85px;
  margin-left: 10%;
}
#header .user {
  height: 85px;
  margin-left: 50%;
}
#main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#left {
  min-height: 100%;
  min-width: 300px;
  width: 25%;
  height: 100%;
  background-color: #6fb98a;
  color: white;
}
#left .item {
  display: block;
  height: 50px;
  width: 200px;
  margin: 5px 20px;
  line-height: 50px;
  list-style-type: none;
  font-size: 16px;
  text-align: center;
}
#left .item a {
  color: white;
}
#left .title {
  margin: 80px 5% 10px 5%;
  height: 100px;
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  line-height: 100px;
  overflow: hidden;
  border-bottom: 1px solid white;
}
#right {
  min-width: 600px;
  width: 74%;
}
#right .information {
  margin: 4%;
  width: 90%;
  box-shadow: 0 0.5px 10px grey;
  overflow: hidden;
}
#right .information .uiheader {
  background-color: #6fb98a;
  width: auto;
  height: 20px;
}
#right .information .container {
  min-height: 300px;
  margin: 30px 20px 0 30px;
}
#right .information .question {
  height: 60%;
  border: solid #d2d2d2;
  border-width: 1px 0px 0px 0px;
  text-align: left;
}
#right .information .question .header {
  background-color: #6fb98a;
  width: 50px;
  height: 4px;
  margin-bottom: 20px;
}
#right .information .question .title {
  margin: 20px;
  font-size: 30px;
}
#right .information .question .description {
  margin: 20px;
  font-size:20px;
  width:100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#right .information .question .line {
  border: 1px solid #d2d2d2;
}
#right .information .question .answer {
  margin: 20px;
}
#right .information .message {
  width: 100%;
  padding: 20px 0;
  margin: auto;
  border-top: 2px solid #dedede;
}
#right .information .message .button_group {
  padding: 10px 0;
  text-align: right;
}
#right .information .message .button_group a {
  padding: 15px 30px;
  margin-right: 15px;
  background-color: #6fb98a;
  color: white;
  outline: none;
}
