* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
a,
button {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}
.wrap {
  width: 30%;
  min-width: 300px;
  margin: auto;
}
.wrap .header {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.wrap .header span {
  font-size: 30px;
  line-height: 40px;
  color: #434343;
}
.container {
  padding: 25px;
  background-color: #ffffff;
  border: 1px solid grey;
}
.container .username {
  display: block;
  color: #434343;
  font-size: 14px;
}
.container input {
  display: block;
  height: 36px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #fafafa;
  border: #CCC 1px solid;
  border-radius: 4px;
  font-size: 22px;
  padding: 4px;
}
.container .line {
  display: flex;
  justify-content: space-between;
}
.container .line .password {
  font-size: 14px;
}
.container .line .forget {
  color: #85c9c0;
  text-decoration: none;
  font-size: 12px;
}
.container .button {
  display: block;
  width: 100%;
  padding: 9px 14px;
  margin: 10px auto 45px auto;
  border-radius: 5px;
  background-color: #6fb98a;
  color: #ffffff;
  font-size: 14px;
  border: none;
}
.container footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.container footer a {
  text-decoration: none;
  color: #85c9c0;
}
