* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAFA;
  font-family: 微软雅黑;
  text-align: center;
}
#wrap {
  width: 30%;
  min-width: 300px;
  margin: auto;
}
.fail{
  width: 100%;
  height: 100px;
  margin: 100px auto 40px;
  color:#9DCFAF;
}
.click{
  width:100%;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  padding: 20px 40px;
  color:#9DCFAF;
  border: 1px solid #9DCFAF;
  background: #FAFAFA;
}
.click:hover{
  color:#FAFAFA;
  background: #9DCFAF;
}